<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

<form action="/action_page.php" id="radioStrip">
  <label for="radioLabel" class="radioLabel">{{ radioLabel }}</label><br>
  <input type="radio" name="radios" class="radioButtons" id="vp" value="veryPoor">Very poor
  <input type="radio" name="radios" class="radioButtons" id="p" value="poor">Poor
  <input type="radio" name="radios" class="radioButtons" id="g" value="good">Good
  <input type="radio" name="radios" class="radioButtons" id="vg" value="veryGood">Very Good
  <input type="radio" name="radios" class="radioButtons" id="eg" value="excellent">Excellent
</form>